/* Future */
#future {

}
.futureDay {
    height: calc(100% / 3);
    border-bottom: 1px solid #3A7BB3;
    display: table;
    width: 100%;
    font-size: 22px;
}
#future .futureDay:last-of-type{
    border-bottom: 0; 
}
.valign{
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
}
.valign p{
    margin: 0;
}
.desktopMode #future{
    width: 50%;
    float: left;
    border-left: 1px solid #3A7BB3;
    
}
.desktopMode div[data-slick-index="2"]{
    display: none;
}
/* Future - END*/