@media screen and (min-width: 750px) {
    #bullets{
        display: none;
    }
    #today .settingsIcon{
        display: block;
    }
    #searchIcon{
        display: none;
    }
    #searchForm {
        position: static!important;
    }
    #settings .backBtn {
        display: block;
    }
    .optionalInfo {

        left: 50px;
        max-width: calc(100% - 70px);
    }
}