@media screen and (min-width: 640px) {
    .optionalInfo .text {
        font-size: 1rem;
    }
    .optionalInfo .windChillTemp {
        font-size: 3rem;
    }
}
@media screen and (min-width: 1024px) {
    #bullets{
        display: none;
    }
    #today .settingsIcon{
        display: block;
    }
    #searchIcon{
        display: none;
    }
    #searchForm {
        position: static!important;
    }
    #settings .backBtn {
        display: block;
    }
    .optionalInfo {
        max-width: calc(75% - 70px);
    }
    .optionalInfo1,
    .optionalInfo2,
    .optionalInfo3 {
        width: 75%;
    }
    
/*
    .text {
        font-size: 1rem;
    }
*/
    .optionalInfo .text {
        font-size: 1rem;
    }
    .optionalInfo .windChillTemp {
        font-size: 3rem;
    }
}



    