/* Settings */
#settings {
    background-color: #181818;
    padding: 20px;
    position: relative;
}
h1 {
    text-align: center;
}
.setting {
    font-size: 1rem;
    height: 2em;
/*    position: relative;*/
    padding-right: 20px;
    margin: 1em 0;
}
.setting form {
    position: relative;
}
#settings p {
    margin: 0;
    display: inline-block;
    float: left;
    line-height: 2em;
}
.setting form:before,
.setting form:after {
    position: absolute;
    top: 0;
    line-height: 2em;
}
/* Degree setting */
.degree form:before {
    content: "°C";
    left: -20px;
}
.degree form:after {
    content: "°F";
    right: -20px;
}
/* Degree setting - END */

/* Wind force */
.wind form:before {
    content: "Yes";
    left: -20px;
}
.wind form:after {
    content: "No";
    right: -20px;
}
/* Wind force - END */

#settForm {
    display: inline-block;
    float: right;
    font-size: 1em;
}

/* Styled checkboxes */
.tgl {
	display: none;
}
.tgl, .tgl:after, .tgl:before,
.tgl *, .tgl *:after, .tgl *:before,
.tgl + .tgl-btn {
    box-sizing: border-box;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection,
.tgl *::selection, .tgl *:after::selection, .tgl *:before::selection,
.tgl + .tgl-btn::selection {
    background: none;
}
.tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
.tgl + .tgl-btn:after {
    left: 0;
}
.tgl + .tgl-btn:before {
    display: none;
}
.tgl:checked + .tgl-btn:after {
    left: 50%;
}

img.backBtn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: none;
    cursor: pointer;
    opacity: 0.3;
}

.tgl-btn {
/*    background: #f0f0f0;*/
    background-color: #4b4b4b;
    border-radius: 2em;
    padding: 2px;
    transition: all .4s ease;
}
.tgl-btn:after {
        border-radius: 50%;
        background: #fff;
        transition: all .2s ease;
    }
.tgl-light:checked + .tgl-btn {
/*    background: #9FD6AE;*/
/*    background-color: #71a880;*/
}
/* Styled checkboxes - END */

/* Settings - END */