@import url("slick.css");
@import url("settings.css");
@import url("today.css");
@import url("future.css");
@import url("media-queries.css");

/* General */
*{
    box-sizing: border-box;

}

body {
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
    color: white;
    background-color: #181818;
}
.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    
    transition: 0.4s -webkit-filter linear;
}
.page {
    background: #428bca;
    overflow-y: auto;
}

/* General - END */

/* Interface */
.page > div {
    box-sizing: border-box;
    height: 100%;
}
.page > div {
    min-height: 100%;
}
ul#bullets {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 auto .5em auto;
    padding: 0;
    text-align: center;
    cursor: default;
}
#bullets li {
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    opacity: .3;
    width: 10px;
    cursor: pointer;
}
#bullets li:first-of-type{
    background: none;
    height: 14px;
    width: 14px;
    position: relative;
    top: 2px;
    left: 1px;
}
#bullets li:hover {
    opacity: 1;
}
#bullets li img{
    width: 100%;
}

#bullets .active {
    opacity: .7;
}

#searchForm {
    top: -50px;
    position: absolute;
    z-index: 99;
    width: 100%;
    transition: top .4s ease;
}
#searchInput {
    background: white;
    width: 100%;
    text-transform: capitalize;    
    outline: none;
    border: none;
    padding: 16px;
    font-size: 16px;
}
#searchForm.searchActive {
    top: 0;
}
#submit{
    display: none;
}

/* Interface - END */