@import url("slick.css");

/* General */
body {
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
    color: white;
}
.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    
    transition: 0.4s -webkit-filter linear;
}

/* General - END */

/* Interface */
.page > div {
    padding: 1em;
    box-sizing: border-box;
}
#bullets {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 auto .5em auto;
    padding: 0;
    text-align: center;
}
#bullets li {
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    opacity: .3;
    width: 10px;
}
#bullets .active {
    opacity: .7;
}
/* Interface - END */

/* Settings */
.settings {
    background-color: gold;
}
/* Settings - END */

/* Today */
.today {
    background-color: coral;
    font-size: 3em;
}
.today .degrees:after {
    content: "\00b0";
}
/* Today - END */

/* Future */
.future {
    background-color: paleturquoise;
}
/* Future - END*/