@import url("slick.css");

/* General */
*{
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body {
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
    color: white;
    background: #428bca;
}
.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    
    transition: 0.4s -webkit-filter linear;
}

/* General - END */

/* Interface */
.page > div {
    box-sizing: border-box;
    height: 100%;
}
#bullets ul {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 auto .5em auto;
    padding: 0;
    text-align: center;
}
#bullets li {
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    opacity: .3;
    width: 10px;
}
#bullets .active {
    opacity: .7;
}
/* Interface - END */

/* Settings */
#settings {
}
/* Settings - END */

/* Today */
#today {
    font-size: 3em;
    padding: 1em;
    height: 100%;
    width: 100%;
    position: relative;
}
/* Today - END */

/* Future */
#future {

}
.futureDay {
    height: calc(100% / 3);
    border-bottom: 1px solid #3A7BB3;
    display: table;
    width: 100%;
}
#future .futureDay:last-of-type{
    border-bottom: 0; 
}
.valign{
    display: table-cell;
    vertical-align: middle;
}
/* Future - END*/