/* Today */
#today {
    font-size: 38px;
    padding: 20px;
    height: 100%;
    width: 100%;
    position: relative;
}

.location{
    margin-top: 100px;
}
.desktopMode #today{
    width: 50%;
    float: left;
}
#today .settingsIcon{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: none;
    cursor: pointer;
    
    transition: transform 1s;
}
#today .settingsIcon:hover {
    transform: rotate(180deg);
}
.optionalInfo{
    position: absolute;
    bottom: 50px;
    width: 92%; /*   ???   */
}
.optionalInfo div{
    float: right;
    width: 60px;
    height: 60px;
}

.winddir{
    position: relative;
    margin-bottom: 15px;
}
.winddir .pin {
    position: absolute;
    top: -11px;
    padding: 20px;
}
.dirABB{
    font-size: 14px;
    position: absolute;
    left: 18px;
}
.uv{ 
    text-align: center;
    width: 60px;
    height: 60px;
}
.uv:before{
    content: 'UV Index';
    display: block;
    font-size: 13px;
    
}
.windChill{
    text-align: center;
    width: 60px;
    height: 60px;       
}
.windChill:before{
    content: 'Feels like';
    display: block;
    font-size: 13px;
}
.windspeed {
    
}
.windspeed img{
    width: 60px;
    animation: rotate;
    -webkit-animation: rotate;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}


@-webkit-keyframes rotate{
  0%   { -webkit-transform: rotate(0deg);}
  100% { -webkit-transform: rotate(360deg);}
}  

/* Today - END */