/* Today */
#today {
    font-size: 38px;
    padding: 20px;
    height: 100%;
    width: 100%;
    position: relative;
}

.location {
    margin-top: 50px;
}
.desktopMode #today {
    width: 50%;
    float: left;
}
#today .settingsIcon {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: none;
    cursor: pointer;
    transition: transform .6s;
}
#today .settingsIcon:hover {
    transform: rotate(60deg) !important;
}
#today .settingsIcon.active:hover {
    transform: rotate(120deg) !important;
}
.permanentInfo {
    
}

#degrees0,
#degrees1,
#degrees2,
#degrees3 {
    margin-right: .5em;
}
#precipitation0,
#precipitation1,
#precipitation2,
#precipitation3 {
    margin-left: .5em;
}

.optionalInfo0,
.optionalInfo1,
.optionalInfo2,
.optionalInfo3 {
    
}
.optionalInfo0 {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
}
.optionalInfo0 > div{
    max-width: 110px;
}
.optionalInfo1,
.optionalInfo2,
.optionalInfo3 {
    position: relative;
    width: 100%;
/*    max-width: 300px;*/
    float: right;
}
.optionalInfo1 > div,
.optionalInfo2 > div,
.optionalInfo3 > div {
    max-width: 90px;
}
.optionalInfo0:after,
.optionalInfo1:after,
.optionalInfo2:after,
.optionalInfo3:after {
    clear: both;
    content: "";
    display: table;
}
.optionalInfo0 > div,
.optionalInfo1 > div,
.optionalInfo2 > div,
.optionalInfo3 > div {
    float: right;
    width: 20%;
    padding: 10px;
}

.graphic {
    width: 100%;
    position: relative;
}
.graphic img {
    width: 100%;
}
.text {
    display: block;
    font-size: .625rem;
    line-height: .8em;
    text-align: center;
    color: white;
    margin-top: .5em;
}
.windDir .compass {
    width: 100%;
}
.windDir .pin {
    width: 100%;
    position: absolute;
    top: 0;
}
.uvIndex .speedometer {
    width: 100%;
}
.uvIndex .speedometer-pin {
    width: 100%;
    position: absolute;
    top: 0;
}
.windChillTemp {
    font-size: 2rem;
    text-align: center;
}
.windChillTemp:after {
    content: "\00B0";
    position: absolute;
}
.windSpeed .fan {
    -webkit-animation: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: rotate;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/*
.windSpeed div,.windSpeed span {
    position: absolute;
    text-align: center;
    top: 8px;
    opacity: 0.7;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}
*/
#searchIcon {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 30px;
}
.loadingScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #428bca;
    display: table;
}
.loadingScreen .svgContainer {
    display: table-cell;
    vertical-align: middle;
    text-align: center;  
}
.loadingScreen .svgContainer svg {
    width:150px;
    height: 150px;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-duration: 6s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: rotate;
    -ms-animation-duration: 6s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: rotate;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}
@-moz-keyframes rotate {
    from {-moz-transform:rotate(0deg);}
    to {-moz-transform:rotate(360deg);}
}
@-ms-keyframes rotate {
    from {-ms-transform:rotate(0deg);}
    to {-ms-transform:rotate(360deg);}
}
@keyframes rotate {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.hashtag #searchForm span{
    top: 15px;
    cursor: pointer;
    text-indent: 15px;
    left: 15px;
    background: url(../img/location.svg);
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    color: black;
}
.hashtag #searchInput{
    text-indent: 25px;
}