/* Today */
#today {
    font-size: 38px;
    padding: 20px;
    height: 100%;
    width: 100%;
    position: relative;
}

.location{
    margin-top: 100px;
}
.desktopMode #today{
    width: 50%;
    float: left;
}
#today .settingsIcon{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: none;
    cursor: pointer;
    
    transition: transform 1s;
}
#today .settingsIcon:hover {
    transform: rotate(180deg);
}
/* Today - END */